@import 'abstract/variables';
@import 'abstract/breakpoint';
@import 'abstract/mixins';
@import 'partials/base';
@import 'partials/typography';
@import 'partials/utilities';
@import 'partials/animations';

@import 'pages/home';

.header {
  background: linear-gradient(
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('/assets/hero3.jpg');
  background-size: cover;
  background-position: bottom right;
  height: 95vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  position: relative;

  &__logo {
    position: absolute;
    top: 10px;
    width: 55px;
    margin: 3rem;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-15%);
  }

  &__heading {
    color: $color-light;
    margin-bottom: 6rem;
  }

  &__title {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.5rem;
    text-align: center;
    animation: moveRight 1s ease-out;
  }

  &__tagline {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    animation: moveLeft 1s linear;
  }

  &__link {
    @include btn;
  }
}

.main {
  background-color: $color-grey-light-1;
  margin-top: -20vh;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content auto;
    row-gap: 4rem;
    background-color: $color-grey-light-1;
    padding: 25rem 4rem 12.5rem;
    column-gap: 5rem;
    max-width: 1140px;
    margin: 0 auto;
  }

  &__heading {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
    @include secondary-heading;
  }

  &__left {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    @include link;
  }

  &__subheading {
    text-transform: uppercase;
    color: $color-grey-dark;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
  &__right {
    position: relative;
  }

  &__image {
    width: 55%;
    box-shadow: 0 1.5rem 4 rem rgba($color: #000000, $alpha: 1);
    position: absolute;
    border-radius: 4px;

    &--1 {
      top: 2rem;
      @include scale-image(0);
    }

    &--2 {
      top: 8rem;
      right: 20px;
      @include scale-image(3);
    }

    &--3 {
      top: 15rem;
      left: 15%;
      @include scale-image(4);
    }
  }
}

.feature {
  background: linear-gradient(
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('/assets/hero1.jpg');
  height: 100vh;
  clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    padding: 2rem;
    margin: 6rem 10rem;
    display: grid;
    // min-width: 320px;

    @include tablet-and-desktop {
      border: 1px solid black;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 4rem;
      // margin: 1rem 10rem;
      // margin: 2rem 16rem;
      padding: 2rem 4rem;
      margin: 6rem 2rem;
      max-width: 1280px;
    }

    @include desktop {
      column-gap: 5rem;
    }
  }

  &__article {
    padding: 2rem 3rem;
    background-color: rgba($color-light, 0.8);
    border-radius: 2px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

    @include tablet-and-desktop {
      //  padding: 2rem 1rem;
    }

    @include desktop {
      padding: 3rem 3rem;
    }

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // // align-items: center;
    // gap: 2rem;

    &:hover {
      cursor: pointer;
      transform: translateY(-1.5rem) scale(1.03);
    }
  }

  &__icon {
    // border:2px solid red;
    display: block;
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    color: transparent;
    margin-bottom: 2rem;
    margin-top: 1rem;

    // margin: 2rem 0px;
  }

  &__heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 14px;
    text-align: center;
  }
}

.adventure {
  margin-top: -20vh;
  border: 4px solid red;
  // background-color: $color-grey-light-1;
  background-color: #fff;

  &__container {
    // border: 4px solid red;
    //  margin: 25rem 10rem 10rem ;
    // background-color: red;
    padding: 25rem 4rem 12.5rem;
    // column-gap: 5rem;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 4rem;
  }

  &__heading {
    @include secondary-heading;
    text-align: center;
  }
  // border:4px solid red;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    // border:10px solid blue;
    padding: 4rem;
  }

  &__card-container {
    position: relative;
    height: 50rem;
    perspective: 140rem; // applied to parent containmer
    // border:5px solid red;

    &:hover .adventure__card--front {
      transform: rotateY(-180deg);
      backface-visibility: hidden;
    }

    &:hover .adventure__card--back {
      transform: rotateY(0deg);
    }
  }

  &__card {
    transition: all 1s;
    height: 20rem;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    &--front {
      top: 0;
    }

    &--back {
      background-color: yellowgreen;
      transform: rotateY(180deg);
      top: 0;
      backface-visibility: hidden;
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
      // FOR LINEAR GRADIENT ITS BACKGROUND IMAGE not backgroubd
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: #fff;
    }
  }

  &__image {
    background: url('/assets/spo.jpg');
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
    position: relative;
  }

  &__title {
    position: absolute;
    bottom: 20%;
    right: 1rem;
    background-color: orange;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    font-size: 2rem;

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 2rem 4rem;
  }

  &__item {
    width: 100%;
    text-align: center;
  }

  &__item:not(:last-child) {
    border-bottom: 2px solid $color-grey-light-1;
    padding-bottom: 1rem;
  }

  &__only {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }

  &__price {
    font-size: 6rem;
    font-weight: lighter;
  }

  &__link {
    @include btn;
    background-color: $color-primary-dark;
    color: white;
    justify-self: center;
  }
}

.review-section {
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;

  &__background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.15;
  }
}

.review {
  background-color: $color-grey-light-1;
  padding: 15rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  // z-index: 2;
  // position: relative;

  &__title {
    @include secondary-heading;
    text-align: center;
    position: relative;
    //  z-index: 1;
  }

  &__card {
    background-color: rgba($color-light, 0.4);
    padding: 6rem 6rem;
    max-width: 75%;
    margin: 2rem auto;
    padding-left: 8rem;
    font-size: 1.6rem;
    transform: skewX(-15deg);
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);

    &:hover .review__name {
      // filter:
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    &:hover .review__image {
      filter: blur(2px) brightness(80%);
      transform: scale(1.2);
      // brigtness less than 80% dark above 100 light
      // filter:
      // opacity: 1;
      // transform: translate(-50%,-50%);
    }
  }

  &__image-container {
    width: 15rem;
    height: 15rem;
    float: left;
    // translate: -2rem;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    transform: skewX(15deg) translateX(-2rem);
    // transform: translateY(-1rem);
    position: relative;
    // border: 2px solid red;
  }

  &__image {
    width: 100%;
    height: 100%;
    transform: scale(1.4);
    transition: transform 0.5s ease;
    // object-fit: cover;
    // object-position: bottom;

    // transform: translateY(-1rem)
  }

  &__text {
    transform: skewX(15deg);
    // display: flex;
    // flex-direction: column;
  }

  &__name {
    font-size: 1.7rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    // transition: all 0.9sec;
    transition: opacity 0.9s ease, transform 0.9s ease;
  }

  &__link {
    position: relative;
    @include link;
    // z-index: 2;
  }
}

.booking {
  // border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  &__form-container {
    width: 80%;
    margin: auto auto;
    background: url('../assets/hero1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: 100%;
    box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 50%,
        transparent 50%
      ),
      url('../assets/hero1.jpg');
  }

  &__form {
    width: 60%;
    // background-color: rgba($color-light, 0.9);
    // clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    // border:2px solid red;
    padding: 6rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    // border:3px solid red;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 4px;
    // When we foucs on input field border bottom on 3px cause element to move a little , so set the border bottom on initial stae and give it a solid color
    border-bottom: 3px solid transparent;
    display: block;
    width: 80%;
    background-color: $color-light;

    &:focus {
      outline: none; // efault blue border
      box-shadow: 0 1rem 2rem rgba($color-dark, $alpha: 0.1);
      border-bottom: 3px solid $color-primary-dark;

      &:invalid {
        border-bottom: 3px solid orange;
      }
    }

    &::placeholder {
      color: #999;
    }

    //placeholder-shown is on input
    // when a placeholder is shown on input element we want to style the label , input and label are sibling we can use sibling selector
  }

  &__label {
    display: block;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s;
  }
  //placeholder-shown is on input
  // when a placeholder is shown on input element we want to style the label , input and label are sibling we can use sibling selector. as soon as we start typing placeholder-shown is gone

  &__input:placeholder-shown + &__label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3.5rem);
    // margin-top: -3.5rem;
  }
  &__title {
    @include secondary-heading;
  }

  &__button {
    @include btn;
    background-color: $color-primary-dark;
    color: white;
    border: none;
    margin-top: 2.5rem;
    padding: 1.5rem 4rem;
  }

  &__radio-button {
    display: flex;
    flex-direction: row;
    // border: 1px solid red;
    align-items: center;
    // padding: 1rem;
    justify-content: flex-start;
  }

  &__radio {
    width: 40%;
    display: flex;
    gap: 1rem;
    align-items: center;
    // padding: 1rem;
  }

  &__radio > label {
    font-size: 1.6rem;
    font-family: inherit;
    cursor: pointer;
  }

  &__option {
    font: inherit;
    appearance: none;
    min-width: 2.5rem;
    height: 2.5rem;
    border: 3px solid $color-primary-dark;
    border-radius: 50%;
    position: relative;

    &::before {
      content: '';
      width: 1.25rem;
      height: 1.25rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // transform: scale(1.2);
      background-color: $color-primary-dark;
      // transition: 120ms transform ease-in-out;
      //  box-shadow: inset 1em 1em green;
      opacity: 0;
    }

    &:checked::before {
      // transform: scale(1);
      opacity: 1;
    }
  }
}

.footer {
  background-color: rgb(51, 51, 51);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;

  &__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 120px;
    // border: 2px solid red;
  }

  &__brand {
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    color: transparent;
    font-size: 4rem;
    margin-top: -2px;
  }

  &__nav {
    margin-top: 6rem;
    margin-bottom: 6rem;
    // border:5px solid red;
    display: flex;
    flex-direction: row;
    // gap:5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    border-top: 0.5px solid white;
    padding-top: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    // border: 5px solid red;
    width: 50%;
  }

  &__item {
    &:hover {
      color: $color-primary-dark;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
      transform: scale(1.2) rotate(5deg);
    }
  }
}
