@import 'abstract/variables';
@import 'abstract/functions';
@import 'abstract/mixins';
@import 'partials/base';
@import 'partials/typography';
@import 'partials/utilities';
@import 'partials/animations';

@import 'pages/home';

.header {
  background-color: red;
  background: linear-gradient(
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('/assets/hero3.jpg');
  background-size: cover;
  background-position: bottom right;
  height: 95vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  position: relative;

  &__logo {
    position: absolute;
    top: 10px;
    // border:2px solid black;
    width: 55px;
    margin: 3rem;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-15%);
  }

  &__heading {
    color: $color-light;
    margin-bottom: 6rem;
  }

  &__title {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.5rem;
    text-align: center;
    animation: moveRight 1s ease-out;
  }

  &__tagline {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1rem;
    // border: 2px solid red;
    text-align: center;
    animation: moveLeft 1s linear;
  }

  &__link {
    background-color: gold;
    // background-color: $color-light;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-radius: 10rem;
    cursor: pointer;
    animation: moveUp 0.5s linear 0.75s;
    animation-fill-mode: backwards;
  }
}

@keyframes moveRight {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }

  70% {
    transform: translate(30px);
    opacity: 0.3;
  }
  100% {
    transform: translate(0);
    opacity: 0.8;
  }
}

@keyframes moveLeft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }

  70% {
    transform: translate(-30px);
    opacity: 0.3;
  }
  100% {
    transform: translate(0);
    opacity: 0.8;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  60% {
    transform: translateY(10px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}
